<div class="container">
  <h1>Formulaire</h1>
  <form>
    <div class="form-group">
      <label for="name">FirstName</label>
      <input type="text" class="form-control" id="FirstName" required><br/>
      <label for="name">LastName</label>
      <input type="text" class="form-control" id="LastName" required><br/>
      <label for="name">Phone</label>
      <input type="text" class="form-control" id="Phone" required><br/>
      <label for="name">Birthday</label>
      <input type="text" class="form-control" id="Birthday" required><br/>
      <label for="name">Password</label>
      <input type="text" class="form-control" id="Password" required><br/>
    </div>



    <button type="submit" class="btn btn-success">Submit</button>

  </form>
</div>